input,
select,
.form-control {
  width: 100%;
  height: 2.5em;
  background: #f1f9ff 0% 0% no-repeat padding-box;
  border: 2px solid #bce0fd;
  border-radius: 10px;
  padding: 0.5em;
}

button {
  width: 100%;
  height: 2.5em;
  background: #2699fb 0% 0% no-repeat padding-box;
  border-radius: 10px;

  font: normal normal bold min(200%, 3vh) Gadugi;
  color: #ffffff;
  opacity: 1;
  border: 0;
}

.checkbox-container {
  position: relative;
  padding-left: 5vh;
  height: 3vh;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 3vh;

  font: normal normal 16px Gadugi;
  color: #2699fb;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 3vh;
  width: 3vh;
  background-color: #f1f9ff;
  border: 2px solid #bce0fd;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  left: 0.8vh;
  top: 0.4vh;
  height: 1.5vh;
  width: 1vh;
  display: none;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2699fb;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
