.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #ffffff00, #00ccff),
    url("../images/backgroundLogin.jpg");
  background-size: cover;
}

.login-form-container {
  width: 100%;
}

.login-data {
  width: 70%;

  border-radius: 30px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff 0% 0% no-repeat padding-box;
}

.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-data > h1 {
  width: auto;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0px;
  color: #2699fb;
}

.login-data > p {
  font-weight: bold;
}

.login-form > .form-group {
  width: 100%;
}

.logo {
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.logo > img {
  width: 60vh;
}

.create-account-link {
  padding-bottom: 5vh;

  display: inline-block;
  align-self: center;

  font: normal normal 16px Gadugi;
  color: #2699fb;
  background-color: #ffffff00;
  text-decoration-style: none;
}
