.nav-menu {
  background: linear-gradient(0deg, #0089ac 0%, #00caff 100%);
  width: 20vw;
  min-width: 350px;
  transition: 100ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font: bold normal normal 2em Segoe UI;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #00caff;
}

.nav-menu-items {
  width: 90%;
}
/*
.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}*/

.nav-position-title {
  margin-left: 16px;
}

.nav-logo {
  margin: 20px;
  width: 90%;
}
