.profile-container {
  width: 80vw;
  padding: 1em;
}

.profile-container h2 {
  border-bottom: 3px solid #00657e;
}

.profile-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
/*
.profile-content > div {
}*/

.profile-content > div.center {
  text-align: center;
  padding: 10%;
}

.profile-image {
  width: 100%;
  background-color: red;
  align-self: center;
  justify-self: center;
}

.change-profile-image {
  width: 70%;
}
